body {
    font-family: "Amatic SC", sans-serif;
}

@keyframes rotatecrest {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate
{
    transform: rotate(360deg);
    animation-name: rotatecrest;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_label {
    display: block;
    text-align: center;
    font-family:Amatic SC;
    color:white;
    font-size:25px;
}

.text_center {
    text-align: center;
}

.error_message {
    color: red;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
    font-family:Amatic SC;
    color:white;
    font-size:60px;
}

p {
    font-family:Amatic SC;
    color:white;
    font-size:30px;
}

a, nav {
    color:white;
}

#submit_file_button, #submit_citation_button, #submit_retrain_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 32px 144px;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
.center_button {
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  opacity: 0;

}

.file-button, .file-button * {
    margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

.file-button button {
    padding: 20px 45px;
    background-color: aquamarine;
    border: 0.5px solid aqua;
    box-shadow: 0px 2px 15px black;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    display: block;
}

.file-button span {
    color: white;
    font-size: large;
}

.file-button input{
    display: none; /* no-js clients might be a problem */
}

.navigation{
    position:absolute;
    top:0;
    right:0;
    font-size: 30px;

}