@keyframes rotatecrest {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#crest {
    transform: rotate(360deg);
    animation-name: rotatecrest;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_center {
    text-align: center;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}