@keyframes rotatecrest {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#crest {
    transform: rotate(360deg);
    animation-name: rotatecrest;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}