<!DOCTYPE html>

<html>
 <head>
  <link type="text/css" rel="stylesheet" href="../css/stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
</head>
 <body>
    <div id="container">
        <img id="crest" src="../assets/crest-citation-needed.svg"
        alt="teamcrest" width="20%" class="center">
    </div>
    <div class="center">
        <nav class="navigation">
            <a href="/">Home</a> |
            <a href="/about/">About</a> |
            <a href="/tos/">Terms of Use</a> |
            <a href="/contact/">Contact</a> |
        </nav>
        <div>
            <h1 class="text_center">Contact</h1>
            <p class="text_center">You can contact us via...</p>
        </div>
    </div>
 </body>
</html>