<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>

<div class="background"></div>

<div id="container">
  <img id="crest" src="https://raw.githubusercontent.com/osoc21/Final-Improved-String-pHarser/ec463b56aa5e0cda46c0ec69821a8b3dc77f2597/crest%20%5Bcitation%20needed%5D.svg"
   alt="teamcrest" width="20%" class="center">
</div>
<div id="texts">
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
<h1 style="font-family:Amatic SC;color:white;font-size:60px;" class="text_center">Final Improved String pHarser</h1>
</div>
</div>

<!-- Flask requires that you use encoding type multipart/form-data for file uploads! -->
<div class="center">
    <form method="POST" enctype="multipart/form-data">
      <input type="file" id="file" name="file" class="center" style="font-family:Amatic SC;color:white;">
      <input type="submit" id="submit_button" class="center" style="border-radius: 50px 20px;">
    </form>
</div>


<div class="upload-btn-wrapper center_button">
    <form method="POST" enctype="multipart/form-data">
        <button class="btn">Upload a file</button>
        <input type="file" id="file" name="file" class="center">
    </form>
</div>
</body>
</html>
