<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
</head>

<body>

<div class="background"></div>

<div id="container">
  <img id="crest" src="https://raw.githubusercontent.com/osoc21/Final-Improved-String-pHarser/master/app/assets/crest-citation-needed.svg"
   alt="teamcrest" width="20%" class="center">
</div>
<div id="texts">
<h1 id="name" class="text_center">Final Improved String pHarser</h1>
<!-- Flask requires that you use encoding type multipart/form-data for file uploads! -->
<div class="navigation">
  <nav>
    <a href="/">Home</a>
    <a href="https://osoc21.github.io/Final-Improved-String-pHarser/about">About</a> |
    <a href="https://osoc21.github.io/Final-Improved-String-pHarser/tos">Terms of Use</a> |
    <a href="https://osoc21.github.io/Final-Improved-String-pHarser/contact">Contact</a> |
  </nav>
</div>
<div class="center">
    <!-- Show success or error message if necessary -->
    {% if data %}
      {% if data.type == 'error' %}
         <p class="text_center error_message">{{data.response}}</p>
      {% endif %}
      {% if data.type == 'success' %}
         <p class="text_center success_message">{{data.response}}</p>
      {% endif %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data" action="/parse/file">
      <div id="fileButtonDiv" class="file-button" >
        <!-- type=button is essential, otherwise it'll submit by default -->
        <button type="button" id="fileButton">Choose File</button>
        <span id="fileSpan">No file chosen</span>
        <input type="file" id="file" name="file" class="center" style="color:white;">
      </div>
      <select class="center" name="model-name">
        <option value="" disabled selected>Select model</option>
          {% for model in models %}
            <option value={{model}} name={{model}}>{{model}}</option>
          {% endfor %}
      </select>
      <input type="submit" id="submit_file_button" class="center" onclick="rotate()" value="Submit file">
      <input type="hidden" name="from-website" value="1">
    </form>
    <br>
    <form method="POST" enctype="multipart/form-data" action="/parse/string">
        <label for="citation" class="center_label">Citation:</label><br>
        <textarea id="citation" class="center" rows="4" cols="50" name="citationstring" placeholder="Paste your citation string(s)"></textarea>
        <select class="center" name="model-name">
          <option value="" disabled selected>Select model</option>
            {% for model in models %}
              <option value={{model}} name={{model}}>{{model}}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" id="submit_citation_button" class="center" onclick="rotate()" value="Submit citation strings">
        <input type="hidden" name="from-website" value="1">
    </form>
</div>


<script src="https://raw.githubusercontent.com/osoc21/Final-Improved-String-pHarser/master/app/js/index.js"></script>

</body>
</html>
