<!DOCTYPE html>
<html>
<head>
  <base href="../">
  <link rel="stylesheet" href="https://osoc21.github.io/Final-Improved-String-pHarser/stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <script id="json-picker" src="https://raw.githubusercontent.com/osoc21/Final-Improved-String-pHarser/master/app/js/jsonpath-picker.min.js">
    </script>
  <link rel="stylesheet" href="https://raw.githubusercontent.com/osoc21/Final-Improved-String-pHarser/master/app/css/jsonpath-picker.min.css">
</head>

<body onload="render()">

<div class="background"></div>

<div id="container">
  <img id="crest" src="https://raw.githubusercontent.com/osoc21/Final-Improved-String-pHarser/master/app/assets/crest-citation-needed.svg"
   alt="teamcrest" width="20%" class="center">
</div>
<div id="texts">
<h1 id="name" class="text_center">Final Improved String pHarser</h1>
<!-- Flask requires that you use encoding type multipart/form-data for file uploads! -->
<div class="navigation">
  <nav>
    <a href="/">Home</a>
    <a href="https://osoc21.github.io/Final-Improved-String-pHarser/about">About</a> |
    <a href="https://osoc21.github.io/Final-Improved-String-pHarser/tos">Terms of Use</a> |
    <a href="https://osoc21.github.io/Final-Improved-String-pHarser/contact">Contact</a> |
  </nav>
</div>
<div class="center">
    <div class="json-div" id="json-div">
        <pre id="json-renderer" class="text_left"></pre>
        <input class="path" type="text" style="display:none">
    </div>
    <br>
    <button type="submit" id="save" title="Save as JSON file" class="center">Save as JSON file</button>
    <p id="selection-par">Please select a citation to edit</p>
    <form action="/retrain" method="POST">
        <p class="text_center"><label for="citations-select" class="text_center">Choose a citation:</label></p>
        <select class="center" name="citations" id="citations-select" onchange="handleSelectChange()" >
            <option value="" disabled selected>Select citation</option>
            <!-- For each parsed citation the longest part is selected as display value for the selection box -->
            <!-- Firstly find the lengths of the longest parts for each citation and keep it in a list -->
            {% set longestPartsLengths = [] %}
            {% for citation in data.data %}
                {% set longest = namespace(value=0) %}
                {% for key, value in citation.items() %}
                    {% if value is not none %}
                        {% if value[0]|length > longest.value %}
                            {% set longest.value = value[0]|length %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {{  longestPartsLengths.append(longest.value) }}
            {% endfor %}
            <!-- Secondly find the the longest parts by checking which part has the longest length as calculated earlier -->
            <!-- Add a new option value for this longest part -->
            {% set count = namespace(value=0) %}
            {% for citation in data.data %}
                {% for key, value in citation.items() %}
                    {% if value is not none %}
                        {% if value[0]|length == longestPartsLengths[count.value]%}
                            <option value={{value}} id={{citation}}>{{value[0]}}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% set count.value = count.value + 1 %}
            {%endfor%}
        </select>
      <br><br>
      <input type="hidden" name="from-website" value="1">
    </form>

    <form action="/retrain" method="POST" enctype="multipart/form-data" id="citation-change-form">
    </form>


    <script type="text/javascript">
        // Parse the JSON passed to the template
        const data = JSON.parse('{{ data | tojson }}');
        // Render the JSON in a pretty visual format
        function render() {
            const source = document.querySelector('#json-renderer');
            const dest = document.querySelectorAll('.path');
            const options = {"outputCollapsed": false}
            // Browser
            JPPicker.render(source, data, dest, options);
        }
        // Handle a new citation being selected in the select element
        function handleSelectChange() {
            render();
            const form = document.getElementById("citation-change-form");
            // Clear any previous HTML
            form.innerHTML= ""
            // Add a new text form that allows the user for feedback to the model
            form.innerHTML += '<input type="text" name="model-name" value="' + data["model"] +  '">';
            form.innerHTML += '<input type="hidden" name="from-website" value="1">';

            const fields = ["Authors","Year","Title","Book","Series","Publisher",
                "City","Volume","Issue","Pagination","DOI"];

            // Get the index of the selected citation
            const e = document.getElementById("citations-select");

            // -1 due to selection placeholder at first index
            const citation_index = e.selectedIndex - 1;

            // Add "Correct mistakes" text
            let textNode = document.createElement("p");
            textNode.innerHTML = "Correct mistakes";
            document.getElementById("citation-change-form").prepend(textNode);

            // Display the original citation
            let original_citation = data["original_strings"][citation_index]

            textNode = document.createElement("p");
            textNode.style.fontFamily = "monospace"
            textNode.style.fontSize = "14px"
            textNode.innerHTML = original_citation;

            document.getElementById("citation-change-form").prepend(textNode);

            // Add "Original citation" text
            textNode = document.createElement("p");
            textNode.innerHTML = "Original citation:";
            document.getElementById("citation-change-form").prepend(textNode);

            // For each citation field add a textbox in the form containing the parsed output and allowing the user
            // to make modifications
            fields.forEach(field => {

                const divNode = document.createElement("div");
                divNode.setAttribute("margin-bottom", "10px")

                // Add the name of the field next to textbox
                const labelNode = document.createElement("label");
                labelNode.setAttribute("for", field);
                labelNode.style.color = "white";
                labelNode.innerText = field;
                labelNode.style.fontSize = "30px"
                divNode.style.textAlign = "center"

                // Add a text field for the user feedback
                const inputNode = document.createElement("input");
                inputNode.setAttribute("type", "text")
                inputNode.setAttribute("id", field)
                inputNode.setAttribute("name", field)
                inputNode.setAttribute("class", "center")
                inputNode.setAttribute("size", "100")

                // If the parsed citation has a value for this field then use it as placeholder
                if (field in data.data[citation_index]) {
                    inputNode.setAttribute("value", data.data[citation_index][field][0])
                }

                document.getElementById("citation-change-form").appendChild(divNode);

                divNode.appendChild(labelNode);
                let brNode = document.createElement("br");
                divNode.appendChild(brNode);
                divNode.appendChild(inputNode);
                brNode = document.createElement("br");
                divNode.appendChild(brNode);

            })

            // Add a submit button to the end of the input form
            const submitNode = document.createElement("input")
            submitNode.setAttribute("type", "submit")
            submitNode.setAttribute("value", "Retrain model")
            submitNode.setAttribute("id", "submit_retrain_button")
            submitNode.setAttribute("class", "center")
            document.getElementById("citation-change-form").appendChild(submitNode);

        }

        // Download the JSON as a json file
        // when document is ready
        // SOURCE: https://stackoverflow.com/questions/2897619/using-html5-javascript-to-generate-and-save-a-file/21677860
        document.getElementById("save").onclick = function() {
            const pom = document.createElement('a');
            pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(JSON.stringify(data)));
            pom.setAttribute('download', "result.json");

            if (document.createEvent) {
                const event = document.createEvent('MouseEvents');
                event.initEvent('click', true, true);
                pom.dispatchEvent(event);
            }
            else {
                pom.click();
            }
        }
    </script>
</div>


<script src="https://raw.githubusercontent.com/osoc21/Final-Improved-String-pHarser/master/app/js/index.js"></script>

</body>
</html>
