<!DOCTYPE html>
<html>
<head>
    <base href="../">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
</head>

<body>

<div class="background"></div>

<div id="container">
  <img id="crest" src="assets/crest-citation-needed.svg"
   alt="teamcrest" width="20%" class="center">
</div>
<div id="texts">
<h1 id="name" class="text_center">Final Improved String pHarser</h1>
</div>
</div>
<script>
function rotate(){
    document.getElementById("crest").classList.add('rotate');
}
</script>
<!-- Flask requires that you use encoding type multipart/form-data for file uploads! -->
<div class="navigation">
  <nav>
    <a href="/">Home</a> |
    <a href="/about/">About</a> |
    <a href="/tos/">Terms of Use</a> |
    <a href="/contact/">Contact</a> |
  </nav>
</div>
<div class="center">

    <!--<textarea cols="50" rows="10" id="source" class="center">{{data}}</textarea>-->
    <pre><code><textarea cols="50" rows="10" id="source" class="center">{{data}}</textarea></code></pre>
    <br>
    <button type="button" id="save" title="Save as JSON file" class="center">Save as JSON file</button>
    <p>Correct mistakes</p>

    <form>
        <label for="citations-select" class="text_center">Choose a citation:</label>
        <select name="citations" id="citations-select" onchange="handleSelectChange()" >
            {% set longestPartsLengths = [] %}
            {% for citation in data.data %}
                {% set longest = 0 %}
                {% set longestns = namespace(longest=0) %}
                {% for key, value in citation.items() %}
                    {% if value is not none %}
                        {% if value[0]|length > longestns.longest %}
                            {% set longest = value[0]|length %}
                                {% set longestns.longest = value[0]|length %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {{  longestPartsLengths.append(longestns.longest) }}
            {% endfor %}

            {% set count = namespace(value=0) %}
            {% for citation in data.data %}
                {% for key, value in citation.items() %}
                    {% if value is not none %}
                        {% if value[0]|length == longestPartsLengths[count.value]%}
                            <option value={{value}} id={{citation}}>{{value[0]}}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% set count.value = count.value + 1 %}
            {%endfor%}
        </select>
        <p id="selection-par">Please select a citation to edit</p>
      <br><br>
    </form>
    <form id="citation-change-form">
      <input type="submit" value="Submit" id="change_input">
    </form>


    <script type="text/javascript">

        const data = JSON.parse('{{ data | tojson }}');

        function handleSelectChange() {
            const form = document.getElementById("citation-change-form");

            form.innerHTML= ""

            const fields = ["Authors","Year","Title","Book","Series","Publisher",
                "City","Volume","Issue","Pagination","DOI"];

            const e = document.getElementById("citations-select");
            const citation_index = e.selectedIndex;

            fields.forEach(field => {
                const node = document.createElement("label");
                node.setAttribute("for", field);
                node.style.color = "white";
                node.innerText = field;

                const inputNode = document.createElement("input");
                inputNode.setAttribute("type", "text")
                inputNode.setAttribute("id", field)
                inputNode.setAttribute("name", field)

                if (field in data.data[citation_index]) {
                    inputNode.setAttribute("value", data.data[citation_index][field][0])
                }

                document.getElementById("citation-change-form").appendChild(node);
                let brNode = document.createElement("br");
                document.getElementById("citation-change-form").appendChild(brNode);
                document.getElementById("citation-change-form").appendChild(inputNode);
                brNode = document.createElement("br");
                document.getElementById("citation-change-form").appendChild(brNode);

            })

            const submitNode = document.createElement("input")
            submitNode.setAttribute("type", "submit")
            submitNode.setAttribute("value", "submit")
            document.getElementById("citation-change-form").appendChild(submitNode);

        }

        // when document is ready
        document.getElementById("save").onclick = function() {
            // when clicked the button
            // a [save as] dialog will be shown
            window.open("data:application/txt," + "parsedCitations.json", "_self");
        }
    </script>
</div>


<script src="js/index.js"></script>

</body>
</html>
