<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
</head>

<body>

<div class="background"></div>

<div id="container">
  <img id="crest" src="assets/crest-citation-needed.svg"
   alt="teamcrest" width="20%" class="center">
</div>
<div id="texts">
<h1 id="name" class="text_center">Final Improved String pHarser</h1>
</div>
</div>
<script>
function rotate(){
    document.getElementById("crest").classList.add('rotate');
}
</script>
<!-- Flask requires that you use encoding type multipart/form-data for file uploads! -->
<div class="navigation">
  <nav>
    <a href="/">Home</a> |
    <a href="/about/">About</a> |
    <a href="/tos/">Terms of Use</a> |
    <a href="/contact/">Contact</a> |
  </nav>
</div>
<div class="center">
    {% if data %}
      <p class="text_center error_message">{{data.response}}</p>
    {% endif %}
</div>


<script src="js/index.js"></script>

</body>
</html>
